RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://shp.nas4han.xyz/$1 [R,L]

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://act.nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://act.nas4han.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dop.nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dop.nas4han.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://fine.nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://fine.nas4han.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mus.nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mus.nas4han.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nas4han.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://shp.nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://shp.nas4han.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.act.nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.act.nas4han.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dop.nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dop.nas4han.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.fine.nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.fine.nas4han.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mus.nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mus.nas4han.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nas4han.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.shp.nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.shp.nas4han.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://act.nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://act.nas4han.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dop.nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dop.nas4han.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://fine.nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://fine.nas4han.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mus.nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mus.nas4han.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nas4han.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://shp.nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://shp.nas4han.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.act.nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.act.nas4han.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dop.nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dop.nas4han.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.fine.nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.fine.nas4han.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mus.nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mus.nas4han.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nas4han.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.shp.nas4han.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.shp.nas4han.xyz$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php70” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php70 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
